<nav class="m-navbar">
  <div class="m-logo">
    <div class="logo">
      <a href="/"><h3 class="f-size-lrg bold-txt">IVC Katale</h3></a>
    </div>
    <div class="menu-btn">
      <div class="menu-item"></div>
      <div class="menu-item"></div>
    </div>
  </div>
</nav>
