<nav class="main-nav">
  <div class="logo">
    <a href="/"><h3 class="f-size-lrg bold-txt">IVC Katale</h3></a>
  </div>
  <ul class="nav-links">
    <li class="nav-link flx">
      <i class="fa fa-home"></i>
      <a href="/">Discover</a>
    </li>
    <li class="nav-link">
      <i class="fa fa-user"></i>
      <a href="">Artists</a>
    </li>
    <li class="nav-link"><a href="">Recent</a></li>
    <li class="nav-link"><a href="">About</a></li>
  </ul>
  <div class="icon-wrapper"></div>
</nav>
