<%- include('imports/header'); -%> <%- include('imports/nav-2'); -%>
<main id="account">
  <div class="forms-wrapper flx">
    <div class="form-container">
      <form id="signin-form" class="">
        <h3 class="f-size-lrg">Login to your Account</h3>
        <div class="input">
          <label for="email">Email</label>
          <i class="lni lni-envelope"></i>
          <input
            type="email"
            name="email"
            class="email"
            placeholder="eg. example@email.com"
          />
          <p class="error email-error"></p>
        </div>
        <div class="input">
          <label for="password">Password</label>
          <i class="lni lni-lock"></i>
          <input
            type="password"
            name="password"
            id=""
            class="password"
            placeholder="min - 6 characters && max - 10 characters"
          />
          <p class="error password-error"></p>
        </div>
        <div class="other-auth-option"></div>
        <button type="submit" class="btn btn-m">Sign In</button>
      </form>
    </div>
    <div class="hr-wrapper">
      <div class="hr"></div>
      <h3 class="f-size-lrg">OR</h3>
      <div class="hr"></div>
    </div>
    <div class="form-container">
      <form id="signup-form" class="">
        <h3 class="f-size-lrg">Create new Account</h3>
        <div class="input-grp grd grd-cl-2">
          <div class="input">
            <label for="firstname">Firstname</label>
            <i class="lni lni-user"></i>
            <input
              type="text"
              name="firstname"
              class="firstname"
              placeholder="eg. John"
            />
            <p class="error firstname-error"></p>
          </div>
          <div class="input">
            <label for="lastname">Lastname</label>
            <i class="lni lni-user"></i>
            <input
              type="text"
              name="lastname"
              class="lastname"
              placeholder="eg. Doe"
            />
            <p class="error lastname-error"></p>
          </div>
        </div>
        <div class="input-grp grd grd-cl-2">
          <div class="input">
            <label for="email">Email</label>
            <i class="lni lni-envelope"></i>
            <input
              type="email"
              name="email"
              class="email"
              placeholder="eg. example@email.com"
            />
            <p class="error email-error"></p>
          </div>
          <div class="input">
            <label for="phone">Phone Number</label>
            <i class="lni lni-phone"></i>
            <input
              type="number"
              name="phone"
              class="phone"
              placeholder="eg. 2567*********"
            />
            <p class="error phone-error"></p>
          </div>
        </div>
        <div class="input">
          <label for="password">Password</label>
          <i class="lni lni-lock"></i>
          <input
            type="password"
            name="password"
            id=""
            class="password"
            placeholder="min - 6 characters && max - 10 characters"
          />
          <p class="error password-error"></p>
        </div>
        <!-- <div class="other-auth-option">
                                    <p class="center-align">OR</p>
                                    <div class="flx jc-btn">
                                    </div>
                                </div> -->
        <button type="submit" class="btn btn-m">Sign Up</button>
      </form>
    </div>
  </div>
</main>
<%- include('imports/footer-nav-2'); -%>
<script src="/js/account.js"></script>
<!-- <script src="/js/main.js"></script> -->
<%- include('imports/footer'); -%>
